
@import "node_modules/bootstrap/scss/bootstrap";

@import "./base/_typography.scss";
@import "./abstracts/_functions.scss";
@import "./abstracts/_variables.scss";
@import "./abstracts/_mixins.scss";
@import "./components/_buttons.scss";
@import "./components/_cards.scss";
@import "./base/_reset.scss";
@import "./layout/_header.scss";
@import "./layout/_features.scss";
@import "./layout/_devices.scss";
@import "./layout/_device.scss";
@import "./layout/_prices.scss";
@import "./layout/_pricing-plans.scss";

@media (min-width: 1400px){
  .container{
    max-width: 1170px ;
  }
}

@media (min-width: 1200px){
  .container{
    max-width: 1170px ;
  }
}

.container{
  padding: 0 !important;
}

