
@import "node_modules/bootstrap/scss/bootstrap";

// @import "node_modules/bootstrap/scss/bootstrap-grid";

@import "./base/_reset.scss";
@import "./base/_typography.scss";
@import "./abstracts/_functions.scss";
@import "./abstracts/_variables.scss";
@import "./abstracts/_mixins.scss";
@import "./components/_buttons.scss";
@import "./components/_lines.scss";
@import "./components/_cards.scss";
@import "./components/_form.scss";
@import "./components/_slider.scss";
@import "./components/_hamburger-menu.scss";
@import "./components/_map.scss";
@import "./layout/_header.scss";
@import "./layout/_introduction.scss";
@import "./layout/_features.scss";
@import "./layout/_about.scss";
@import "./layout/_device.scss";
@import "./layout/_testimonals.scss";
@import "./layout/_pricing-plans.scss";
@import "./layout/_contacts.scss";
@import "./layout/_footer.scss";

@media (min-width: 1400px){
  .container{
    max-width: 1194px;
  }
}

@media (min-width: 1200px){
  .container{
    max-width: 1194px;
  }
}


@media (max-width: 575px){
  .container{
    padding: 0px 30px;
  }
}




html, body{
  transition-duration: .5s;
}

