@use "../abstracts/_functions.scss" as f;
@use "../abstracts/_variables.scss" as v;

@import "../../../../node_modules/bootstrap/scss/_mixins";
    // line-height: 48px;

    @mixin white-title{
font-size: 48px;
color:  v.$header-title-color;
letter-spacing: 1px;

} 
@mixin black-title{
    font-size: 36px;
    color: v.$title-color;
    letter-spacing: 1px;
    
    font-family: v.$main-font;
    font-style: normal;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
 
    } 
@mixin introduction-title{
    font-family: v.$main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 111.02%;
    color: v.$main-white-color;
    letter-spacing: 1.1px;

}
@mixin sub-title{
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: v.$sub-title-color;
    font-weight: 700;
    font-family: v.$main-font;
}
@mixin section-text{
    font-family: v.$main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: v.$section-text-color;
}

@mixin button-primary{
    font-size: 14px;
    line-height: 48px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: v.$main-font;
    text-align: center;
    width: 160px;
    height: 50px;
    filter: drop-shadow(0 0 1.5px rgba(3,3,3,0.1));
    background-color: v.$main-blue-color;
    border: none;
    align-items: center;
    display: flex;
    justify-content: center;

}
@mixin button-secondary{
    font-size: 14px;
    line-height: 48px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: v.$main-font;
    text-align: center;
    width: 160px;
    height: 50px;
    background-color: rgba(0,142,214,0);
    border: 1px solid rgba(255,255,255,0.2);
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

@mixin features-icon{
    border-radius: 50%;
    border: 1px solid #E0E0E0;
    display: inline-block;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-position: center;
    width: 20px;
    height: 20px;
    padding: 45px;
}


@mixin slider-text{
    font-family: v.$main-font;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: v.$main-white-color;

}

@mixin testimonal-text{
    font-family: v.$main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: v.$main-white-color;
    
    
}