

@import "./base/_typography.scss";

:root{
  --bs-body-font-family: 'Source Sans Pro';
}
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px,
  xxl: 1320px
);


$header-title-font: 'Quicksand', sans-serif; 
