


:root{
  --bs-body-font-family: 'Source Sans Pro';
}
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px,
  xxl: 1320px
);
$main-font: 'Source Sans Pro';
$header-title-color: #FFFFFF;
$header-title-font: 'Quicksand', sans-serif; 
$header-nav-color: #FFFEFE;
$title-color: #1A1A1A;
$sub-title-color: #008ED6;
$section-text-color: #999999;
$main-white-color:  #ffffff;
$main-blue-color: #008ED6;
$background-black-color: #15141A;
$background-gray-color: #F2F2F2;
$nav-menu-link-color: #fefefe;
