@font-face {
  font-family: 'Source Sans Pro';
  src:  url('../fonts/sourcesansproextralight.woff2') format('woff2'), 
        url('../fonts/sourcesansproextralight.woff') format('woff'), 
        url('../fonts/sourcesansproextralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/sourcesansproextralightitalic.woff2') format('woff2'), 
  url('../fonts/sourcesansproextralightitalic.woff') format('woff'), 
  url('../fonts/sourcesansproextralightitalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/sourcesansprolight.woff2') format('woff2'),
       url('../fsourcesansprolight.woff') format('woff'), 
       url('../fonts/sourcesansprolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/sourcesansprolightitalic.woff2') format('woff2'), 
       url('../fonts/sourcesansprolightitalic.woff') format('woff'), 
       url('../fonts/sourcesansprolightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/sourcesanspro.woff2') format('woff2'), 
       url('../fonts/sourcesanspro.woff') format('woff'), 
       url('../fonts/sourcesanspro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/sourcesansproitalic.woff2') format('woff2'), 
       url('../fonts/sourcesansproitalic.woff') format('woff'), 
       url('../fonts/sourcesansproitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/sourcesansprosemibold.woff2') format('woff2'),
       url('../fonts/sourcesansprosemibold.woff') format('woff'),
       url('../fonts/sourcesansprosemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/sourcesansprosemibolditalic.woff2') format('woff2'), 
       url('../fonts/sourcesansprosemibolditalic.woff') format('woff'), 
       url('../fonts/sourcesansprosemibolditalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/sourcesansprobold.woff2') format('woff2'), 
       url('../fonts/sourcesansprobold.woff') format('woff'), 
       url('../fonts/sourcesansprobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/sourcesansprobolditalic.woff2') format('woff2'), 
       url('../fonts/sourcesansprobolditalic.woff') format('woff'), 
       url('../fonts/sourcesansprobolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/sourcesansproblack.woff2') format('woff2'), 
       url('../fonts/sourcesansproblack.woff') format('woff'), 
       url('../fonts/sourcesansproblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/sourcesansproblackitalic.woff2') format('woff2'), 
       url('../fonts/sourcesansproblackitalic.woff') format('woff'), 
       url('../fonts/sourcesansproblackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
