
@use "../abstracts/_functions.scss" as f;
@use "../abstracts/_variables.scss" as v;
@use "../abstracts/_mixins.scss" as m;


.button {
	position: relative;
	transition: 0.5s ease;
	z-index: 1;
	overflow: hidden;
  cursor: pointer;
}


.button-primary{
 @include m.button-primary;
}
.button-secondary{
    @include m.button-secondary;
}
.button-pricing{
    background: v.$main-white-color;
    color: v.$main-blue-color;
    border: 1px solid #E0E0E0;
}

.button-pricing:hover{
    color:  v.$main-white-color;
}

.button-secondary:hover{
    border: 1px solid transparent;
    
}
.hover-efect{
	position: relative;
	transition: 0.5s ease;
	z-index: 1;
	overflow: hidden;
} 
._btn {
	position: relative;
	transition: 0.5s ease;
	z-index: 1;
	overflow: hidden;
}


._btn::after,
._btn::before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
    background-color: v.$main-blue-color;
	transition: 0.7s ease;
	z-index: -1;
    
}
.hover-efect{
	position: relative;
	transition: 0.5s ease;
	z-index: 1;
	overflow: hidden;
} 
.hover-efect::after,
.hover-efect::before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
    background-color: v.$main-blue-color;
	transition: 0.7s ease;
	z-index: -1;
    
}
._btn::before {
	content: "";
	left: -100%;
	transform: rotate(60deg);
}
._btn::after {
	content: "";
	right: -100%;
	transform: rotate(60deg);
}
._btn:hover {
	
}
._btn:hover::before,
._btn:hover::after {
	content: "";
	height: 340%;
	width: 150%;
}
._btn:hover::before {
	content: "";
	left: -30%;
}
._btn:hover::after {
	content: "";
	right: -70%;
}


.button-contacts{
	margin-left: auto;
	margin-top: 0px;
}



