@use "../abstracts/_functions.scss" as f;
@use "../abstracts/_variables.scss" as v;
@use "../abstracts/_mixins.scss" as m;

.form{
    display: flex;
    justify-content: center;
    padding-top: 6px;
    position: relative;
    top: 63px;
    &__wrapper{
        max-width: 770px;
        background: #15141a;
        border-radius: 2px;
        position: relative;
        display: flex;
        padding: 49px 84px 40px 66px;
        row-gap: 0px;
        justify-content: space-between;


    }
    &__input-left{
        max-width: 300px;
        padding: 0;
    }
    &__input-right{
        max-width: 300px;
        padding: 0;
    }
    input &__input {
 
    }
    &__input-wrapper {
        position: relative;
    }
    &__input-wrapper span{
        color: red;
        position: absolute;
        top: -18px;
        right: 10px;
        font-size: 14px;
    }
    &__input-wrapper &__input {
        display: block;
        width: 100%;
        background: transparent;
        border-radius: 2px;
        font-size: 20px;
        color: #686868;
        line-height: 1.2;
        padding: 0 16px;
        margin-top: 10px;
        margin-bottom: 20px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        outline: none;
        transition: all .5s;
        
        cursor: pointer;
    }
  
    
    &__input-right &__input-wrapper:nth-of-type(1) textarea.form__input{
        height: 190px;
        max-width: 300px;
        padding-top: 14px;
        resize: none;
        outline: none;
    }
    
    
    &__input-wrapper &__input::placeholder,
    textarea.form__input::placeholder  {
        color:  rgba(255, 255, 255, 0.2);
        font-size: 15px;

        transition: all .5s;
    }
    &__input-wrapper &__input:focus {
        border: 1px solid v.$main-blue-color;
        cursor: text;
    }
        
    &__input-wrapper &__input:focus::placeholder,
    textarea.form__input:focus::placeholder  {
        color: transparent;

    }


    &__input-wrapper &__input:hover:not(:focus)::placeholder,
    textarea.form__input:hover:not(:focus)::placeholder {
      color: v.$main-blue-color;
    
    }
    &__input-wrapper.succes &__input{
        border: 1px solid #2ecc71;
    }
    &__input-wrapper.error &__input{
        border: 1px solid #e74c3c;
    }
    &__input-wrapper small {
        color: #e74c3c;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        position: absolute;
        top: -15px;
        font-size: 9px;
        left: 0px;
    
    }

  
}




.message-error{
    opacity: 1;
}




@media (max-width: 991px){
    .form{
        &__wrapper{

        }
        &__input-left{
        width: 45%;
        }
    
    }
}


@media (max-width: 767px){
    .form{
        &__wrapper{
            padding: 30px;
            max-width: 100%;
        }
        &__input-left{
        width: 45%;
        }
        &__input-right{
 
        }

    }
}


@media (max-width: 450px){
    .form{
        &__input-wrapper small {
            font-size: 8px;        
        }
    }
  }




