@use "../abstracts/_functions.scss" as f;
@use "../abstracts/_variables.scss" as v;
@use "../abstracts/_mixins.scss" as m;


.slider{
  overflow: hidden;
  padding-top: 120px;
  &-content__wrapper{
      display: flex;
      flex-direction: row;
   }
   &__text{
      @include m.slider-text; 
      padding-right: 33px;
   }
   &-testimonal__wrapper{
      display: flex;
      gap: 21px;
      padding-top: 10px;
   }
   &__item-wrapper{
      max-width: 600px;
   }
   &-testimonal__icon{
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      width: 59px;
      height: 59px;
      background-size: contain;
  }
  &-testimonal__wrapper:nth-child(2) .slider-testimonal__icon{

}
 
  &-testimonal-text__wrapper{
      display: flex;
      flex-direction: column;
      padding-top: 5px;
      gap: 9px;
   }
    
      &__testimonal-text{
      @include m.testimonal-text; 
   };
   & .swiper-pagination-bullet{
      width: 7px;
      height: 7px;
      background-color: transparent;
      border: 1px solid #FFFFFF;
  }
  & .swiper-pagination-bullet.swiper-pagination-bullet-active{
      width: 14px; 
      height: 14px;
      background: #FFFFFF;
  }

}  

.slider-testimonal__icon--first{
   background-image: url(../images/testimonal-icon1.svg);
 }
 .slider-testimonal__icon--second{
   background-image: url(../images/testimonal-icon2.svg);
 }




.swiper-pagination{
   gap: 15px;
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: center;
   margin-bottom: 50px;
}



@media (max-width: 991px){
   .slider{
      &__slide{

      }

   }
}




@media (max-width: 767px){
   .slider{
      &__slide{
       
      }
      &__item-wraper{
         margin-right: 10px;
      }
      &-content__wrapper{
         flex-direction: column;
       }
       &__text{
      font-size: 20px;
      line-height: 28px;
      padding-right: 0px;
       }
    
   }
}

@media (max-width: 767px){
   .slider__item-wrapper{
      margin-right: 10px;
   }
}





@media (max-width: 350px){
   .slider{
      padding-top: 70px;   
      &-pagination{
         margin-bottom: 50px;
      }

   }
}



