@use "../abstracts/_functions.scss" as f;
@use "../abstracts/_variables.scss" as v;
@use "../abstracts/_mixins.scss" as m;


.about{
    padding-top: 40px;
    &__container{

    }

    &__list-container{
        padding-top: 40px;
    }
    &__list-item__wrapper{
 
    }
    &__icon-wrapper{

    }
    &__content-wrapper{
        padding-top: 115px;
    }
    &-img{
        width: auto;
        height: 616px;
        margin-top: 65px;
        margin-left: 22px;
    }
    &__items-wrapper{
        display: flex;
        flex-direction: column;
        gap: 9px;
        padding-top: 19px;
    }
    &__item{
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    &__item-text{
        margin: 0;
    }
    &__icon{  
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        width: 16px;
        height: 16px;
    }
    &__items-wrapper &__item:nth-child(1) &__icon {
        background-image: url(../images/cup.svg);
    }
    &__items-wrapper &__item:nth-child(2) &__icon {
        background-image: url(../images/mouse.svg);
    }

    &__items-wrapper &__item:nth-child(3) &__icon {
        background-image: url(../images/energy.svg);
    }
    &__items-wrapper &__item:nth-child(4) &__icon {
        background-image: url(../images/speedometer.svg);
    }

    &__item-title{

    }
    &__item-text{
        @include m.section-text;
    }

    &__sub-title{
        @include m.sub-title;
        font-size: 15px;
    }
    &__title{
        @include m.black-title;
        text-align: left;
        padding-top: 10px;
    }  
    &__text{
        @include m.section-text;
        padding-top: 52px;
        max-width: 485px;
    } 

}

