@use "../abstracts/_functions.scss" as f;
@use "../abstracts/_variables.scss" as v;
@use "../abstracts/_mixins.scss" as m;





.contacts{
    background-color: v.$background-gray-color;
    &__container{
    
    }
    &__top-wrapper{
        text-align: center;
        padding-top: 57px;
    }
    &__title{
        @include m.black-title;
        padding-top: 10px;
    }
    &__sub-title{
        @include m.sub-title;
    }
    &__items-container{
        text-align: initial;
        padding-top: 90px;
        justify-content: center;
    }
    &__icon-wrapper{

    }
    &__icon{  
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        width: 34px;
        height: 33px;
        filter: invert(44%) sepia(100%) saturate(722%) hue-rotate(157deg) brightness(93%) contrast(101%);
    }

    &__item:nth-child(1) .contacts__icon{
        background-image: url("../images/phone.svg");
    }
    &__item:nth-child(2) .contacts__icon{
        background-image: url("../images/pointer.svg");
    }
    &__item:nth-child(3) .contacts__icon{
        background-image: url("../images/mail.svg");
    }
    &__item{
        display: flex;
        align-content: center;
        flex-direction: column;
        align-items: center;
        gap: 26px;
    }
    &__item-text__wrapper{
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    &__item-text{
        @include m.section-text; 


    }

}



@media (max-width: 767px){
    .contacts{
        padding-top: 40px;
        padding-bottom: 40px;
        &__top-wrapper{
            padding-top: 0px;
        }
        }
      }


