
@use "../abstracts/_functions.scss" as f;
@use "../abstracts/_variables.scss" as v;
@use "../abstracts/_mixins.scss" as m;

.device{
    background-color: v.$background-gray-color;
    margin-top: 20px;
    padding-bottom: 17px;
    &__item-text{
        @include m.section-text;
    }

    &__sub-title{
        @include m.sub-title;
    }
    &__title{
        @include m.black-title;
        text-align: left;
        padding-top: 10px;
    }   
    &__text{
        @include m.section-text;
        margin-right: -38px;
        padding-top: 50px;
    } 
    &__container{
        display: flex;
        padding-top: 130px;
    }
    &__img-container{

    }
    &__img{
    margin-top: -96px;
    margin-right: -19px;
    }
}


@media (max-width: 1206px){
    .device{
        &__container{
      
        }
        &__img{
            margin-right: -15px;
            margin-top: 0px;
        }
        &__text{

            margin-right: 0px;
        }
    }
}


@media (max-width: 767px){
    .device{
        padding-top: 40px;
        padding-bottom: 30px;
        &__container{
            flex-direction: column;
            padding-top: 0px;
        }
        &__img{
            max-width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-top: 0;
        }
        &__text{

        }
    }
}


