
@use "../abstracts/_functions.scss" as f;
@use "../abstracts/_variables.scss" as v;
@use "../abstracts/_mixins.scss" as m;

.features{
    padding-bottom: 54px;
    border-bottom: 1px solid #EDEDED;
    padding-top: 40px;
    &__container{

    }
    &__top-wrapper{
        text-align: center;
    }
    &__list-container{
        margin: 0;
        padding: 0;
        padding-top: 109px;
    }
    &__list-item__wrapper{
        text-align: center;
    }
    &__icon-wrapper{

    }
   
    &__item-title{
        padding-top: 24px;
    }
    &__item-text{
        @include m.section-text;
        padding: 10px 19px 0px 19px;
    }

    &__sub-title{
        @include m.sub-title;
        padding-top: 20px;
    }
    &__title{
        @include m.black-title;
        padding-top: 12px;
    }
    &__icon-wrapper{
        
    }
    &__icon{
 
    }
    &__icon{
    @include m.features-icon;
    }
    &__list-item__wrapper:nth-child(1) .features__icon{
        background-image: url("../images/monitor.svg");
    }
    &__list-item__wrapper:nth-child(2) .features__icon{
        background-image: url("../images/settings.svg");
    }
    &__list-item__wrapper:nth-child(3) .features__icon{
        background-image: url("../images/like.svg");
    }
    &__list-item__wrapper:nth-child(4) .features__icon{
        background-image: url("../images/phone.svg");
    }
}



@media (max-width: 767px){
    .features{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}