
@use "../abstracts/_functions.scss" as f;
@use "../abstracts/_variables.scss" as v;
@use "../abstracts/_mixins.scss" as m;
@import "../base/_typography.scss";


.header{

  &__title{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: v.$header-title-color;
    letter-spacing: 0.1em;
  }
  &__subtitle-container{
    display: flex;
    flex-direction: row;
    font-size: 9px;
  }
  &__bg{
    background-image: url("../images/header-bg.png"); 
    width: 100%; 

    background-size: cover;
    position: relative;
  }
  &__nav{
    gap: 27px;
  }

}

.navbar
{
  padding-top: 30px;
  &__link{
    color: v.$header-nav-color;
  }
  
}

.introduction{
  &__content{
    padding-top: 30px;
  }
  &__container{
    gap: 243px;
    padding-top: 51px;  
  }
  &__title{
    @include m.introduction-title;
    padding-top: 17px;
    margin-right: -28px;
  }
  &__sub-title{
    @include m.sub-title; 
    font-size: 14.5px;
  }
  &__text{
    @include m.section-text;
    margin-right: -27px;
    padding-top: 20px;
    max-width: 480px;
  
  }
  &__btn-container{
    display: flex;
    gap: 20px;
    padding-top: 43px;
  }
}



