
@use "../abstracts/_functions.scss" as f;
@use "../abstracts/_variables.scss" as v;
@use "../abstracts/_mixins.scss" as m;



.header{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: 90;
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.01em;
  padding-left: 0;
  align-items: center;
  align-content: space-between;
  margin-top: 0px;
  transition: all .3s;


  &__title{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: v.$header-title-color;
    letter-spacing: 0.1em;
  }
  &__subtitle-container{
    display: flex;
    flex-direction: row;
    @include m.header-subtitle;
  }
  &__bg{
    background-image: url("../images/header-bg.png"); 
    width: 100%; 
    background-size: 100% 100%;
 
  }
  &__nav{
    gap: 27px;
  }



}

.navbar

{
  padding-top: 30px;
  padding-bottom: 30px;
  &__link{
    color: v.$header-nav-color;
  }
  &-brand{
    gap: 7px;
  }
  &__link{
    position: relative;

  }


 &__item &__link::before{
    @include m.line-before;
    bottom: -9.8px;
    left: 0px;
    width: 0px;
    transition: 0.8s;
  }
  &__item &__link::after{
    @include m.line-after;
    bottom: -9.8px;
    left: auto;
    right: -4px;
    width: 0px;
    transition: 0.5s;
  }

  &__item:hover &__link::after {
    width: 45%;
  }
  &__item:hover  &__link::before {
    
    width: 45%;
  }
  &__link:hover{
    color: #fffefe;
  }
}





@media (max-width: 767px){
  
.header{

  &__nav{
    display: none !important;
  }
}

  }







  