
@use "../abstracts/_functions.scss" as f;
@use "../abstracts/_variables.scss" as v;
@use "../abstracts/_mixins.scss" as m;



.header{

  &__title{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: v.$header-title-color;
    letter-spacing: 0.1em;
  }
  &__subtitle-container{
    display: flex;
    flex-direction: row;
    @include m.header-subtitle;
  }
  &__bg{
    background-image: url("../images/header-bg.png"); 
    width: 100%; 

    background-size: cover;
    position: relative;
  }
  &__nav{
    gap: 27px;
  }

}

.navbar
{
  padding-top: 30px;
  &__link{
    color: v.$header-nav-color;
  }
  &-brand{
    gap: 7px;
  }
  
}

