
@use "../abstracts/_functions.scss" as f;
@use "../abstracts/_variables.scss" as v;
@use "../abstracts/_mixins.scss" as m;




.introduction{
  &__content{
    padding-top: 30px;
  }
  &__container{
    gap: 243px;
    padding-top: 128px;
  }
  &__title{
    @include m.introduction-title;
    padding-top: 17px;
    margin-right: -28px;
  }
  &__sub-title{
    @include m.sub-title; 
    font-size: 14.5px;
  }
  &__text{
    @include m.section-text;
    margin-right: -27px;
    padding-top: 20px;
    max-width: 480px;
  
  }
  &__btn-container{
    display: flex;
    gap: 20px;
    padding-top: 43px;
  }
}

@media (max-width: 1199px){
  .introduction{
    &__content{

    }
    &__container{
      gap: 100px;
    }
    &__title{
 
    }
    &__sub-title{
  
    }
    &__text{
 
    
    }
    &__btn-container{
     
    }
  }
}


@media (max-width: 767px){
  .introduction{
    &__content{

    }
    &__container{
   flex-direction: column;
   padding-top: 40px;

    }
    &__title{
 
    }
    &__sub-title{
  
    }
    &__text{
 
    
    }
    &__btn-container{
     
    }
    &__img{
      max-width: 65%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      display: block;
      }
  }
}


// @media (max-width: 452px){
//   .introduction{
//     &__img{
//       width: 95%;
//     }
//   }
// }



