
@use "../abstracts/_functions.scss" as f;
@use "../abstracts/_variables.scss" as v;
@use "../abstracts/_mixins.scss" as m;


.pricing-plans{
    margin-bottom: 57px;
    &__container{
        padding-top: 55px;
    }
        &__top-wrapper{
            text-align: center;
        }
        &__sub-title{
            @include m.sub-title;
          
        }
        &__title{
            @include m.black-title;
            padding-top: 10px;
        }
}       




@media (max-width: 767px){
    .pricing-plans{
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 0px;

        &__container{
            padding-top: 0px;
        }
    }
}




@media (max-width: 450px){
    .pricing-plans{


      &__sub-title{
        font-size: 12px;
      }
      &__title{
        font-size: 30px;
      }
    }
  }
