<!-- about section  it consists of a container with two columns, one containing an image and the other containing text.-->
<section class="about container" id="about">
    <div class="about-container  row">
        <div class="about__img-container col">
            <img src="./assets/images/devices.png" alt="" class="about-img">
        </div>
        <div class="about__content-wrapper col">
            <h3 class="about__sub-title">dip into the details</h3>
            <h2 class="about__title">Beautiful on every device</h2>
            <span class="lines__about"></span>
            <p class="about__text">
                Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae
                erat consequat auctor eu in elit.
            </p>
            <div class="about__items-wrapper ">
                <div class="about__item">
                    <div class="about__icon-wrapper">
                        <span class="about__icon"></span>
                    </div>
                    <p class="about__item-text">Awesome design</p>
                </div>
                <div class="about__item">
                    <div class="about__icon-wrapper">
                        <span class="about__icon"></span>
                    </div>
                    <p class="about__item-text">Fully responsive</p>
                </div>
                <div class="about__item">
                    <div class="about__icon-wrapper">
                        <span class="about__icon"></span>
                    </div>
                    <p class="about__item-text">Retina ready</p>
                </div>
                <div class="about__item">
                    <div class="about__icon-wrapper">
                        <span class="about__icon"></span>
                    </div>
                    <p class="about__item-text">Tons of features and easy to use</p>
                </div>

            </div>
        </div>



    </div>



</section>