<section class="contacts">
    <div class="container">
        <div class="contacts__container">
            <div class="contacts__top-wrapper">
                <h3 class="contacts__sub-title">STAY IN TOUCH</h3>
                <h2 class="contacts__title">Contact us</h2>
                <span class="lines"></span>
                <div class="contacts__items-container  row row-cols-3 ">
                    <div class="contacts__item">
                        <div class="contacts__icon-wrapper">
                            <span class="contacts__icon"></span>
                        </div>
                        <div class="contacts__item-text__wrapper">
                            <span class="contacts__item-text">Phone: (415) 124-5678</span>
                            <span class="contacts__item-text">Fax: (412) 123-8290</span>
                        </div>

                    </div>
                    <div class="contacts__item">
                        <div class="contacts__icon-wrapper">
                            <span class="contacts__icon"></span>
                        </div>
                        <div class="contacts__item-text__wrapper">
                            <span class="contacts__item-text">1001 Brickell Bay Dr.</span>
                            <span class="contacts__item-text">Suite 1900 </span>
                            <span class="contacts__item-text">Miami, FL 33131</span>
                        </div>
                    </div>

                    <div class="contacts__item">
                        <div class="contacts__icon-wrapper">
                            <span class="contacts__icon"></span>
                        </div>
                        <div class="contacts__item-text__wrapper">
                            <span class="contacts__item-text">support@yourname.com</span>
                        </div>

                    </div>
                </div>
            </div>




            <div class="form ">
                <form action="" class="form__wrapper row row-cols-2">
                    <div class="form__input-left">
                        <div class="form__input-wrapper" data-validate="Name is required">
                            <input class="form__input" type="text" placeholder="NAME">
                        </div>
                        <div class="form__input-wrapper" data-validate="Email is required">
                            <input class="form__input" type="text" placeholder="EMAIL">
                        </div>
                        <div class="form__input-wrapper" data-validate="Subject is required">
                            <input class="form__input" type="text" placeholder="SUBJECT">
                        </div>
                    </div>
                    <div class="form__input-right">
                        <div class="form__input-wrapper" data-validate="Message is required">

                        
                            <textarea class="form__input" name="message" placeholder="MESSAGE"></textarea>
                  
                   

                        </div>
                    </div>

                    <button class="button-primary button button-contacts">SEND MESSAGE</button>
                </form>



            </div>


        </div>




    </div>
</section>