<section class="features " id="features">
    <div class="container">
        <div class="features__container row">
            <div class="features__top-wrapper">
                <h3 class="features__sub-title">product overwiew </h3>
                <h2 class="features__title"> List of amazing features</h2>
                <span class="lines__features"></span>
            </div>


            <div class="features__list-container row">
                <div class="features__list-item__wrapper col-lg-3 col-md-6 col-sm-12">
                    <div class="features__icon-wrapper">
                        <span class="features__icon"></span>
                    </div>
                    <h4 class="features__item-title">Responsive</h4>
                    <p class="features__item-text">
                        Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.
                    </p>
                </div>
                <div class="features__list-item__wrapper col-lg-3 col-md-6 col-sm-12">
                    <div class="features__icon-wrapper">
                        <span class="features__icon"></span>
                    </div>
                    <h4 class="features__item-title">Customizable</h4>
                    <p class="features__item-text">
                        Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.
                    </p>
                </div>
                <div class="features__list-item__wrapper col-lg-3 col-md-6 col-sm-12">
                    <div class="features__icon-wrapper">
                        <span class="features__icon"></span>
                    </div>
                    <h4 class="features__item-title">Lovely design</h4>
                    <p class="features__item-text">
                        Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.
                    </p>
                </div>
                <div class="features__list-item__wrapper col-lg-3 col-md-6 col-sm-12">
                    <div class="features__icon-wrapper">
                        <span class="features__icon"></span>
                    </div>
                    <h4 class="features__item-title">Mobile Friendly</h4>
                    <p class="features__item-text">
                        Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>