<div class="header__bg">

  <header class="header">
    <div class="container">

      <nav class="navbar ">
        <a href="" class="navbar-brand navbar__header d-flex align-items-center">
          <h1 class="header__title   ">LUCID</h1>
          <div class="header__subtitle-container d-flex flex-column">
            <span class="header__subtitle ">ONEPAGE</span>
            <span class="header__subtitle ">THEME</span>
          </div>
        </a>


        <ul class="nav navbar-nav header__nav  d-flex flex-row ">
          <li class="navbar__item "><a class="navbar__link " href="#">Home</a></li>
          <li class="navbar__item "><a class="navbar__link " href="#">Features</a></li>
          <li class="navbar__item "><a class="navbar__link " href="#">About</a></li>
          <li class="navbar__item "><a class="navbar__link  " href="#">Testimonals</a></li>
          <li class="navbar__item "><a class="navbar__link " href="#">Pricing</a></li>
          <li class="navbar__item "><a class="navbar__link " href="#">Contact</a></li>

        </ul>

      </nav>

    </div>
  </header>

  <section class="introduction  ">

    <div class="container">
      <div class="introduction__container  row ">
        <div class="introduction__content col ">
          <h3 class="introduction__sub-title ">introducing lucid theme</h3>
          <h2 class="introduction__title   ">Carefully crafted and beautiful landing page.</h2>
          <p class="introduction__text">Etiam ullamcorper et turpis eget hendrerit. Praesent varius risus mi, at
            elementum magna ultricies accumsan. Cras venenatis lacus sed dolor placerat tempus. Morbi blandit at neque
            ut imperdiet.</p>
          <div class="introduction__btn-container ">
            <button class="button-primary button">DOWNLOAD NOW</button>
            <button class="button-secondary button">VIEW FEATURES</button>
          </div>
        </div>
        <div class="introduction__img-container col">
          <img src="../../assets/images/introduction.png" class="introduction__img">
        </div>
      </div>
    </div>

</div>

</section>

</div>