<header class="header">
  <div class="container-xl">

    <nav class="navbar ">
      <a href="" class="navbar-brand navbar__header d-flex align-items-center">
        <h1 class="header__title text-light  pe-2">LUCID</h1>
        <div class="header__subtitle-container d-flex flex-column">
          <span class="header__subtitle text-secondary">ONEPAGE</span>
          <span class="header__subtitle text-secondary">THEME</span>
        </div>
      </a>


      <ul class="nav navbar-nav  d-flex flex-row ">
        <li class="navbar__item px-1"><a class="navbar__link text-light" href="#">Home</a></li>
        <li class="navbar__item px-1"><a class="navbar__link text-light" href="#">Features</a></li>
        <li class="navbar__item px-1"><a class="navbar__link text-light" href="#">About</a></li>
        <li class="navbar__item px-1"><a class="navbar__link text-light " href="#">Testimonals</a></li>
        <li class="navbar__item px-1"><a class="navbar__link text-light" href="#">Pricing</a></li>
        <li class="navbar__item px-1"><a class="navbar__link text-light" href="#">Contact</a></li>

      </ul>

    </nav>

  </div>
</header>