<div class="header__bg">

  <header class="header">
    <div class="container">

      <nav class="navbar ">
        <a href="" class="navbar-brand navbar__header d-flex align-items-center">
          <h1 class="header__title   ">LUCID</h1>
          <div class="header__subtitle-container d-flex flex-column">
            <span class="header__subtitle ">ONEPAGE</span>
            <span class="header__subtitle ">THEME</span>
          </div>
        </a>



        <ul class="nav navbar-nav header__nav  d-flex flex-row  ">
          <li class="navbar__item "><a class="navbar__link "  href="#home" data-target="home">Home</a></li>
          <li class="navbar__item "><a class="navbar__link "  href="#features" data-target="features">Features</a></li>
          <li class="navbar__item "><a class="navbar__link "  href="#about" data-target="about">About</a></li>
          <li class="navbar__item "><a class="navbar__link  " href="#testimonals" data-target="testimonals">Testimonals</a></li>
          <li class="navbar__item "><a class="navbar__link "  href="#pricing" data-target="pricing">Pricing</a></li>
          <li class="navbar__item "><a class="navbar__link "  href="#contacts" data-target="contacts">Contact</a></li>

        </ul>





      </nav>

      <nav class="navbar__mob">
        <ul class="nav-list__mob">
          <li class="navbar__item-mob"><a class="navbar__link-mob" href="#home">Home</a></li>
          <li class="navbar__item-mob"><a class="navbar__link-mob" href="#features">Features</a></li>
          <li class="navbar__item-mob"><a class="navbar__link-mob" href="#about">About</a></li>
          <li class="navbar__item-mob"><a class="navbar__link-mob" href="#testimonals">Testimonals</a></li>
          <li class="navbar__item-mob"><a class="navbar__link-mob" href="#pricing">Pricing</a></li>
          <li class="navbar__item-mob"><a class="navbar__link-mob" href="#contacts">Contact</a></li>
        </ul>
      </nav>


      <span class="hamburger">
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
      </span>





    </div>
  </header>

  <section class="introduction #  " id="home">

    <div class="container">
      <div class="introduction__container  row ">
        <div class="introduction__content col ">
          <h3 class="introduction__sub-title ">introducing lucid theme</h3>
          <h2 class="introduction__title   ">Carefully crafted and beautiful landing page.</h2>
          <p class="introduction__text">Etiam ullamcorper et turpis eget hendrerit. Praesent varius risus mi, at
            elementum magna ultricies accumsan. Cras venenatis lacus sed dolor placerat tempus. Morbi blandit at neque
            ut imperdiet.</p>
          <div class="introduction__btn-container ">
            <a href="#pricing" class="button-secondary _btn button">DOWNLOAD NOW</a>
            <a href="#features" class="button-secondary _btn button">VIEW FEATURES</a>
          </div>
        </div>
        <div class="introduction__img-container col">
          <img src="./assets/images/introduction.png" class="introduction__img">
        </div>
      </div>
    </div>

</div>

</section>

</div>