<div class="header__bg">

  <header class="header">
    <div class="container">
  
      <nav class="navbar ">
        <a href="" class="navbar-brand navbar__header d-flex align-items-center">
          <h1 class="header__title text-light  pe-2">LUCID</h1>
          <div class="header__subtitle-container d-flex flex-column">
            <span class="header__subtitle text-secondary">ONEPAGE</span>
            <span class="header__subtitle text-secondary">THEME</span>
          </div>
        </a>
  
  
        <ul class="nav navbar-nav  d-flex flex-row ">
          <li class="navbar__item px-1"><a class="navbar__link text-light" href="#">Home</a></li>
          <li class="navbar__item px-1"><a class="navbar__link text-light" href="#">Features</a></li>
          <li class="navbar__item px-1"><a class="navbar__link text-light" href="#">About</a></li>
          <li class="navbar__item px-1"><a class="navbar__link text-light " href="#">Testimonals</a></li>
          <li class="navbar__item px-1"><a class="navbar__link text-light" href="#">Pricing</a></li>
          <li class="navbar__item px-1"><a class="navbar__link text-light" href="#">Contact</a></li>
  
        </ul>
  
      </nav>
  
    </div>
  </header>
  
  <section class="introduction  ">
  
    <div class="container">
      <div class="intorduction__container  row pt-5">
        <div class="introduction__content col ">
          <h3 class="introduction__sub-title text-primary">introducing lucid theme</h3>
          <h2 class="introduction__title text-white pt-4 ">Carefully crafted and beautiful landing page.</h2>
          <p class="introduction__text">Etiam ullamcorper et turpis eget hendrerit. Praesent varius risus mi, at elementum magna ultricies accumsan. Cras venenatis lacus sed dolor placerat tempus. Morbi blandit at neque ut imperdiet.</p>
          <div class="introduction__btn-container pt-4">
            <button class="button-primary button">DOWNLOAD NOW</button>
            <button class="button-secondary button">VIEW FEATURES</button>
          </div>
        </div>
        <div class="introduction__image-container col">
          <img  src="../../assets/images/devices.png"  class="introduction__image"></div>
        </div>
      </div>

    </div>
  
  </section>

</div>
