<section class="testimonals">
    <div class="container">
        <div class="testimonals__container">
            <div class="testimonals__top-wrapper">
                <h3 class="testimonals__sub-title">QUALITY HAS ITS PRICE </h3>
                <h2 class="testimonals__title"> Pricings & Plans</h2>
                <span class="lines__testimonals"></span>
            </div>

            <div class="slider swiper-container">
                <div class=" slider__wrapper swiper-wrapper">
                    <div class="slider__slide swiper-slide">
                        <div class="slider-content__wrapper">
                            <div class="slider__item-wrapper">
                                <p class="slider__text">
                                    Once upon a time all the Rivers combined to protest against the action of the Sea in
                                    making their waters salt. “When we come to you,” said they to the Sea.
                                </p>
                                <div class="slider-testimonal__wrapper">
                                    <span class="slider-testimonal__icon slider-testimonal__icon--first"></span>
                                    <div class="slider-testimonal-text__wrapper">
                                        <span class="slider__testimonal-text">John Doe</span>
                                        <span class="slider__testimonal-text">CEO, THE RIVERS COMPANY</span>
                                    </div>
                                </div>
                            </div>
                            <div class="slider__item-wrapper">
                                <p class="slider__text">A shoe is not only a design, but it's a part of your body
                                    language,
                                    the way you walk. The way you're going to move is quite dictated by your shoes.
                                </p>
                                <div class="slider-testimonal__wrapper">
                                    <span class="slider-testimonal__icon slider-testimonal__icon--second"></span>
                                    <div class="slider-testimonal-text__wrapper">
                                        <span class="slider__testimonal-text">Dean Winchester</span>
                                        <span class="slider__testimonal-text">UX DESIGNER, GOOGLE INC.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slider__slide swiper-slide">
                        <div class="slider-content__wrapper">
                            <div class="slider__item-wrapper">
                                <p class="slider__text">
                                    Once upon a time all the Rivers combined to protest against the action of the Sea in
                                    making their waters salt. “When we come to you,” said they to the Sea.
                                </p>
                                <div class="slider-testimonal__wrapper">
                                    <span class="slider-testimonal__icon slider-testimonal__icon--first"></span>
                                    <div class="slider-testimonal-text__wrapper">
                                        <span class="slider__testimonal-text">John Doe</span>
                                        <span class="slider__testimonal-text">CEO, THE RIVERS COMPANY</span>
                                    </div>
                                </div>
                            </div>
                            <div class="slider__item-wrapper">
                                <p class="slider__text">A shoe is not only a design, but it's a part of your body
                                    language,
                                    the way you walk. The way you're going to move is quite dictated by your shoes.
                                </p>
                                <div class="slider-testimonal__wrapper">
                                    <span class="slider-testimonal__icon slider-testimonal__icon--second"></span>
                                    <div class="slider-testimonal-text__wrapper">
                                        <span class="slider__testimonal-text">Dean Winchester</span>
                                        <span class="slider__testimonal-text">UX DESIGNER, GOOGLE INC.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider__slide swiper-slide">
                        <div class="slider-content__wrapper">
                            <div class="slider__item-wrapper">
                                <p class="slider__text">
                                    Once upon a time all the Rivers combined to protest against the action of the Sea in
                                    making their waters salt. “When we come to you,” said they to the Sea.
                                </p>
                                <div class="slider-testimonal__wrapper">
                                    <span class="slider-testimonal__icon slider-testimonal__icon--first"></span>
                                    <div class="slider-testimonal-text__wrapper">
                                        <span class="slider__testimonal-text">John Doe</span>
                                        <span class="slider__testimonal-text">CEO, THE RIVERS COMPANY</span>
                                    </div>
                                </div>
                            </div>
                            <div class="slider__item-wrapper">
                                <p class="slider__text">A shoe is not only a design, but it's a part of your body
                                    language,
                                    the way you walk. The way you're going to move is quite dictated by your shoes.
                                </p>
                                <div class="slider-testimonal__wrapper">
                                    <span class="slider-testimonal__icon slider-testimonal__icon--second"></span>
                                    <div class="slider-testimonal-text__wrapper">
                                        <span class="slider__testimonal-text">Dean Winchester</span>
                                        <span class="slider__testimonal-text">UX DESIGNER, GOOGLE INC.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slider__slide swiper-slide">
                        <div class="slider-content__wrapper">
                            <div class="slider__item-wrapper">
                                <p class="slider__text">
                                    Once upon a time all the Rivers combined to protest against the action of the Sea in
                                    making their waters salt. “When we come to you,” said they to the Sea.
                                </p>
                                <div class="slider-testimonal__wrapper">
                                    <span class="slider-testimonal__icon slider-testimonal__icon--first"></span>
                                    <div class="slider-testimonal-text__wrapper">
                                        <span class="slider__testimonal-text">John Doe</span>
                                        <span class="slider__testimonal-text">CEO, THE RIVERS COMPANY</span>
                                    </div>
                                </div>
                            </div>
                            <div class="slider__item-wrapper">
                                <p class="slider__text">A shoe is not only a design, but it's a part of your body
                                    language,
                                    the way you walk. The way you're going to move is quite dictated by your shoes.
                                </p>
                                <div class="slider-testimonal__wrapper">
                                    <span class="slider-testimonal__icon slider-testimonal__icon--second"></span>
                                    <div class="slider-testimonal-text__wrapper">
                                        <span class="slider__testimonal-text">Dean Winchester</span>
                                        <span class="slider__testimonal-text">UX DESIGNER, GOOGLE INC.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </div>




</section>


<section class="testimonals__bottom-content">
    <div class="container testimonals__bottom-container">
        <h2 class="testimonals__bottom-title">Like what you see? <span>Get this great theme now!</span> </h2>
        <div class="testimonals__btn-container ">
            <button class="button-secondary _btn button">VIEW FEATURES</button>
            <button class="button-secondary _btn button">DOWNLOAD NOW</button>
        </div>
    </div>

</section>